table {
	width: 100%;
	text-align: center;
	font-size: 2em;
}

tr{
	margin-top: 5px;
}

tr td{
	border-right: 1px black;
	padding: 5px 10px 5px;
}

td:hover{
	background-color: yellow;
	cursor: pointer;
}

.selected{
	background-color: red;
}